@import "../../../assets/styles/general.scss";

$markerColor: var(--marker-color);

span.wrapper {
  display: inline-block;
  position: relative;
  font-weight: 500;

  & > span {
    position: relative;
    z-index: 2;
  }

  &::before {
    content: "";
    position: absolute;
    z-index: 1;
    width: 105%;
    height: 55%;
    top: 50%;
    left: 50%;
    transform-origin: left center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.75s ease-in;
    background-color: $markerColor;
  }

  &.marked {
    &::before {
      transform: translate(-50%, 0) scaleX(1);
    }
  }
}