@import "./general.scss";

:export {
  // timing
  loadingExit: $loading-exit;
  portfolioTiming: $portfolio-timing;
  // size
  maxWidth: $max-width;
  // color
  white: $white;
  black: $black;
  gray: $gray;
  darkGray: $dark-gray;
  tomato: $tomato;
  lightGray: $light-gray;
}